header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.box-header {
    width: 940px;
    position: relative;
    margin: 0px auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;

}