/* *seletor de marcador */
* {
    margin: 0;
    padding: 0;
}

* body {
    background-color: #CCCCCC;
}

* h1,
h2,
#barbearia,
#missao {
    font-family: 'Mea Culpa', cursive;
}

* h1,
h2 {
    font-size: 55px;
    font-style: italic;
    margin: 0;
}


/* #seletor de id */
#missao {
    font-size: 35px;
    color: rgb(0, 0, 0);
}

#banner {
    background-position: top;
    width: 100%;

}

#barbearia {
    font-size: 35px;
}

/* Identificador de classe é o .*/
.main-content {
    text-align: center;
}

.itens {
    font-style: italic;
}

.beneficios {
    text-align: center;
    background-color: #FFFFFF;
}