/* *seletor de marcador */
* {
    margin: 0;
    padding: 0;
}

* body {
    background-color: #CCCCCC;
}

.title,.title-menu,
#barbearia,
#missao {
    font-family: 'Mea Culpa', cursive;
}


ul {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15%;
    margin-top: 130px;
}

li {
    margin-top: 1em;
}

/* #seletor de id */
#missao {
    font-size: 35px;
    color: rgb(0, 0, 0);
}

#banner {
    background-position: top;
    width: 100%;

}

#barbearia {
    font-size: 35px;
}

#img-beneficios {
    width: 50%;
}

/* Identificador de classe é o .*/

.title-menu {
    padding-left: 20px;
    background-color: white;
}

.title {
    font-size: 55px;
    font-style: italic;
    margin: 0;
    text-align: center;
}

.main-content {
    text-align: center;
    padding: 30px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: #FFFFFF;
}